$tuna-color: #3e1f47;
$ebony-clay-color: #312244;
$shamrock-green-color: #01a63e;
$aqua-squeeze-color: #e8f6ed;
$carmine-pink-color: #e73f3f;
$amour-color: #fceaea;
$star-dust-color: #a1a0a3;
$carbon-grey-color: #5f5f61;
$dark-jungle-green-color: #222124;
$alabaster-color: #fafafa;
$mirage-color: #1f0d24;
$mercury-color: #e6e6e6;
$white-smoke-color: #f6f6f6;
$soft-peach-color: #efefef;
$white-color: #ffffff;
